# dependencies
node_modules/

# production build
build/
dist/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor folders
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db